<div class="row">
	<div class="col-md-4">
		<h2>I GOT GARBAGE</h2>
		<p>A mindtree initiative to convert rag pickers into social entrepreneurs.</p>
		<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Code Book</h2>
		<p>My solutions for codechef practice problems.</p>
		<p>CodeChef is a global programming community which host contests, trainings and events for programmers around the world.</p>
		<p><a class="btn btn-default" href="https://github.com/thomasabraham/codebook" target="_blank" role="button">View details &raquo;</a></p>
	</div>
</div>
